.title-mhs {
    text-align: right;
}

.info > a {
    text-align: center;
    text-transform: uppercase;
}

.col-md > a {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.admin {
    width: 2rem;
}

.img-profile {
    border-radius: 100%; -webkit-border-radius: 100%; -moz-border-radius: 100%; -ms-border-radius: 100%; -o-border-radius: 100%;
    width: 15rem;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}